@model List<OrderDto>
@{
    ViewData["Title"] = "CheckoutHistory";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    Ödeme geçmişim
                </h5>
                @if (Model.Any())
                {
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Sipariş(Ödeme) No</th>
                                    <th>Satın alma tarihi</th>
                                    <th>Detaylar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.CreatedDate.ToShortDateString()</td>
                                        <td>
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Kurs ismi</th>
                                                        <th>Kurs fiyatı</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var orderItems in item.OrderItems)
                                                    {
                                                        <tr>
                                                            <td>@orderItems.ProductName</td>
                                                            <td>@orderItems.Price TL</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <div class="alert alert-info">
                        Sattın aldığınız herhangi bir kurs bulunmamaktadır.
                    </div>
                }
            </div>
        </div>
    </div>
</div>
